@font-face {
    font-family: 'NeueMontreal';
    src: url(./public/fonts/NeueMontreal-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FoundersGrotesk';
    src: url('./public/fonts/FoundersGrotesk-Semibold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FoundersGrotesk2';
    src: url(./public/fonts/FoundersGroteskWeb-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
  }
@tailwind base;
@tailwind components;
@tailwind utilities;